#triggered on push to main branch or manual dispatch
name: CI MLflow Retraining

"on":
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repo structure (debug)
        run: |
          echo "=== ROOT ==="
          ls -la
          echo "=== MLProject (folder) ==="
          ls -la "MLProject (folder)"
          echo "=== print MLProject file ==="
          cat "MLProject (folder)/MLProject" || true
          echo "=== print conda.yaml ==="
          cat "MLProject (folder)/conda.yaml" || true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project
        run: |
          mlflow run "MLProject (folder)" --env-manager=local
        working-directory: .github/workflows