# -------------------------------------------------------------------
# GitHub Actions Workflow: CI for MLflow Retraining and Docker Build
# -------------------------------------------------------------------

# triggered on push to main branch or manual dispatch

name: CI MLflow Retraining and Docker Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  retrain_build_docker:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: file:./mlruns
      DOCKER_IMAGE: irfanzr7/weather-mlflow-model

    steps:
      # --------------------------------------------------
      # 1. Checkout
      # --------------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # --------------------------------------------------
      # 2. Python setup
      # --------------------------------------------------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # --------------------------------------------------
      # 3. Install dependencies
      # --------------------------------------------------
      - name: Install MLflow and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy joblib scipy dagshub

      # --------------------------------------------------
      # 4. Retrain model (MLflow Project)
      # --------------------------------------------------
      - name: Retrain model (MLflow Project)
        run: |
          mlflow run "MLProject (folder)" \
            --env-manager=local \
            -P data_path=weather_preprocessing/seattle_weather_processed.csv \
            -P out_dir=artifacts

      # --------------------------------------------------
      # 5. Upload artifacts to GitHub
      # --------------------------------------------------
      - name: Upload training artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-training-artifacts
          path: artifacts

      # --------------------------------------------------
      # 6. Login to Docker Hub
      # --------------------------------------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --------------------------------------------------
      # 7. Build Docker image with MLflow
      # --------------------------------------------------
      - name: Build Docker image with MLflow
        run: |
          echo "Checking MLflow model directory..."
          ls -R artifacts

          mlflow models build-docker \
            --model-uri artifacts/model \
            --name $DOCKER_IMAGE \
            --env-manager local

      # --------------------------------------------------
      # 8. Push Docker image
      # --------------------------------------------------
      - name: Push Docker image to Docker Hub
        run: |
          docker push $DOCKER_IMAGE
